* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(233, 233, 241)
}

.header {
    background-color: rgb(49, 49, 49) ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(49, 49, 49);
    display: flex;
    padding: 5px;
}

.header h1 {
    background-color: rgb(160, 214, 214) ;
}


.header span {
    width: 75%;
}

.header ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    justify-content: flex-end;    
}

.images {
    overflow: auto ;
    resize:horizontal ;
}

.about-me {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(1, 92, 92);
    float: right;
}

.about-me h2 {
    font-size: 40px;
    border-bottom: brown;
}

.work {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(1, 92, 92);
    float: right;
}

.work span  {
    height; 10px;
}

.contact-me {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(1, 92, 92);
    float: left;
    padding-left: 20px;
}