* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(233, 233, 241)
}

.header {
    background-color: rgb(49, 49, 49) ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(49, 49, 49);
    display: flex;
    flex-direction: initial;
    padding: 5px;
}

.header h1 {
    background-color: rgb(160, 214, 214) ;
}


.header span {
    width: 75%;
}

.header ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    justify-content: flex-end;    
}

.images {
    overflow: auto ;
    resize:horizontal ;
    display: flex ;
    flex:initial;
}

.about-me {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(1, 92, 92);
    float: right;
    display: flex ; 
    flex: initial ;
    padding-left: 5%;
    padding-bottom: 2%;    
}

.about-me h2 {
    border-right: solid;
}

.work {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(1, 92, 92);
    display: flex; 
    flex: initial;
    padding-left: 5%;
    padding-bottom: 2%;
}

.work h2 {
    border-right: solid;
}

.work h2 p span {
    width: 2%;
}

.contact-me {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(1, 92, 92);
    float:inherit;
    padding-left: 5%;
}

.contact-me h2 {
    border-bottom: solid;
}

.contact-me span {
    width: 75%; 
}